
@font-face {
    font-family: Equestria;
    src: url("Equestria.ttf");
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
}

body {
    font-family: Equestria;
}

#count {
    font-size: 100px;
}
#pony {
    cursor: pointer;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    text-align: center;
}
