
@font-face {
    font-family: "Equestria";
    src: url("Equestria.eot"), url("Equestria.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Equestria;
}

#right img {
	height: 150px;
	border: 3px solid #36c;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

h1 {
    font-size: 64px;
}

table {
    font-size: 30px;
    border-collapse: collapse;
    margin-top: auto;
    margin-bottom: auto;
}

td {
    padding-left: 12px;
    padding-right: 12px;
    border: solid 3px #36c;
}

.boop {
    font-size: 32px;
    z-index: 1;
    color: #63c;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu {
    background-color: #f8e;
    color: #a17;
    border-bottom: 3px solid  #a17;
    width: 100%;
    height: 32px;
}

    #menu li {
        border-right: solid 3px #a17;
        display: inline-block;
        padding-top: 2px;
        text-align: center;
        height: 100%;
        cursor: pointer;
        padding: 5px;
    }

#left {
    background-color: #8bf;
    color: #63c;
    border-right: solid 3px #63c;
    display: inline-block;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

#count {
    margin-left: 35%;
    text-allign: center;
}

#pony {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    position: relative;
    margin-top: 50px;
    margin-bottom: auto;
}

#ponyclick {
    width: 256px;
    height: 256px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    background-color: #b8f;
    color: #35c;
    border-left: solid 3px #35c;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 25%;
    height: 100%;
    text-allign: center;
    padding-left: 30px;
}
