
@font-face {
    font-family: Equestria;
    src: url("Equestria.ttf");
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Equestria;
}

h1 {
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

table {
    font-size: 30px;
    border-collapse: collapse;
}

td {
    padding-left: 12px;
    padding-right: 12px;
    border: solid 3px #36c;
}

.boop {
    font-size: 32px;
    z-index: 1;
    color: #63c;
}

#menu {
    position: absolute;
    background-color: #f8b;
    color: #c36;
    border: solid 3px #c36;
    z-index: 3;
}

    #menu * {
        padding-left: 4px;
        padding-right: 4px;
        display: inline-block;
    }

#mute {
    cursor: pointer;
}

#left {
    background-color: #8bf;
    color: #63c;
    border: solid 3px #63c;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
}

#right {
    background-color: #b8f;
    color: #36c;
    border: solid 3px #36c;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
}

    #left *, #right * {
        margin-left: auto;
        margin-right: auto;
    }

#ponyarea {
    width: 256px;
    height: 256px;
    position: relative;
}

#pony {
}

#effects {
}

#clickarea {
    width: 256px;
    height: 256px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
}
