
@font-face {
    font-family: Equestria;
    src: url("Equestria.ttf");
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Equestria;
}

h1 {
    font-size: 64px;
}

table {
    font-size: 30px;
    border-collapse: collapse;
}

td {
    padding-left: 12px;
    padding-right: 12px;
    border: solid 3px #36c;
}

.boop {
    font-size: 32px;
    z-index: 1;
    color: #63c;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
}

#menu {
    background-color: #f8e;
    color: #a17;
    border: solid 3px #a17;
    width: 100%;
    height: 32px;
}

    #menu li {
        border-right: solid 3px #a17;
        display: inline-block;
        width: 64px;
        padding-top: 2px;
        text-align: center;
        height: 100%;
        cursor: pointer;
    }

#left {
    background-color: #8bf;
    color: #63c;
    border: solid 3px #63c;
    flex: 1 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 32px;
}

#pony {
    width: 256px;
    height: 256px;
    position: relative;
}

#ponyclick {
    width: 256px;
    height: 256px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

#right {
    background-color: #b8f;
    color: #35c;
    border: solid 3px #35c;
    flex: 1 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
